helloworld/target/classes/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="974aebee-5c0a-40ee-a7a9-ea15a2e7ec51" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="434903d6-6bf6-4e36-931c-8d043dd2657c" file="config.yaml" />
	<flow name="helloworldFlow" doc:id="78f2a16c-babf-4580-887f-63d7046a4502" >
		<http:listener doc:name="Listener" doc:id="f2c918ad-3729-4246-b6c0-af6e9d37c9b4" path="/testHello" config-ref="HTTP_Listener_config"/>
		<set-payload value='#["Hello " ++ (attributes.queryParams.Name as String default "Amit")]' doc:name="Set Payload" doc:id="dd972083-3a9b-4e18-9044-4b1af123659e" />
		<logger level="INFO" doc:name="Logger" doc:id="18328713-fcc4-4c34-af77-7bb00815a01d" message='#["Flow Successful: " ++ payload]'/>
	</flow>
</mule>
